{% extends 'main/layout/layout.html' %}

{% block title%}(#{{ article.id }}) {{ article.title }}{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center w-100">
        <h1>(#{{ article.id }}) {{ article.title }}</h1>
        {% if request.user.id == article.author.id %}
        <div>
            <a href="/news/{{ article.id }}/update" class="btn btn-info">Update</a>
            <a href="/news/{{ article.id }}/delete" class="btn btn-danger">Delete</a>

        </div>
        {% endif %}
    </div>
    <div class="d-flex flex-column gap-4">
        <p>Published at: {{ article.published_at }}</p>
        <p>{{ article.body }}</p>

        {% if article.images.all %}
            <div class="d-flex flex-wrap gap-3">
                {% for img in article.images.all %}
                    <div>
                        <img src="{{ img.image.url }}" alt="Post image" style="max-width: 70%; height: auto;" class="">
                        <p>{{ img.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}